[2015-05-19 19:11] alefwmm opened #2 "Fullscreen not working properly inside paper-scroll-header-panel (maybe working?)"
As I see you are doing a replacement of core-scroll-header-panel. I had an issue with it, and I'd like to know if this version solves that problem. I saw in the CSS code that it is still using **translateZ(0)** code for performance improvements.

The old problem link: [https://github.com/Polymer/core-scroll-header-panel/issues/46]

Thanks, and I am sorry for replicating the same issue.

[2015-05-20 18:12] blasten commented on #2
You can disable it via the css selector:

[code]

[2015-05-20 18:50] alefwmm commented on #2
Isn't there any better solution? This is going to redraw the #mainContainer on every scroll. If there's a way to get both results... But thanks.

[2015-05-20 18:50] #2 closed

[2015-05-24 10:40] steinhoff1989 opened #4 "Set background-image leads to an error in the URL"
Hi,

I just can't set an background image to the toolbar by using the mixin definition like:

[code]

The referenced image-URL is becoming something like this and leads to a error:
"http://localhost:63342/www/%20%20//lorempixel.com/900/200/nature"

However it works when I define the CSS like the following. (What is not my prefered solution):
[code]

Is there a possibility to set the background ima

[2015-05-26 17:07] blasten commented on #2
@alefwmm  would you mind providing an example that demonstrates the issue?

[2015-05-26 17:58] #4 closed

[2015-05-26 18:13] blasten commented on #4
@steinhoff1989 this is fixed now.  Can you try using the latest Polymer from master?  `bower install Polymer/polymer#master`

[2015-06-01 06:16] inureyes opened #6 "Unpolished demo migrations"
* Some demo codes have old 0.5 codes.
 * For instance, polymer-elements is still used even it is deprecated.

[2015-06-01 06:18] #6 closed

[2015-06-03 08:46] tmess567 opened #8 "Condensed Header not visible on scroll down"
I've set the keepCondensedHeader property to true and yet the condensed header is not visible on scroll down. It is however visible on scroll up.

I'm sure this is a trivial issue but I've been stuck at this for the past day and can't seem to solve it..
Here's my code: http://pastebin.com/aDiFmgEz

[2015-06-04 23:45] sevcsik opened #9 "Documentation on insertion points is outdated"
The documentation in the Catalog (https://elements.polymer-project.org/elements/paper-scroll-header-panel) says:

Which is outdated, since the correct class name is `paper-header` not `core-header`. See the insertion point in the template:

[code]
https://github.com/PolymerElements/paper-scroll-header-panel/blob/master/paper-scroll-header-panel.html#L147

[2015-06-09 07:12] blasten commented on #9
fixed now.

[2015-06-09 07:12] #9 closed

[2015-06-09 07:15] blasten commented on #9
Actually, this element was renamed to `paper-header-panel`

[2015-06-09 07:22] blasten commented on #9
fixed now!

[2015-06-10 02:42] ebidel opened #12 "Docs: code formatting"
The code blocks are not formatted. Presumably a indentation issue:

![screen shot 2015-06-09 at 7 39 20 pm](https://cloud.githubusercontent.com/assets/238208/8073831/40199d0c-0edf-11e5-9467-2858042a85eb.png)

[2015-06-10 20:34] ebidel commented on #8
Have you tried `keep-condensed-header` for the attribute? Camel-cased properties are need to be written with "-". https://www.polymer-project.org/1.0/docs/devguide/properties.html#property-name-mapping

[2015-06-10 23:18] #12 closed

[2015-06-12 18:28] #8 closed

[2015-06-15 21:32] ebidel opened #15 "Toolbar title does no longer transforms properly"
Scroll https://elements.polymer-project.org/elements/paper-scroll-header-panel?view=demo:demo/index.html to see "Title".

@blasten it may have something to do with https://github.com/PolymerElements/paper-toolbar/commit/a2512f2d533132017338fe758c8c97769900d8a9

[2015-06-15 21:45] blasten commented on #15
@ebidel actually I sent a PR with the fix: https://github.com/PolymerElements/paper-scroll-header-panel/pull/14

[2015-06-15 21:52] blasten commented on #15
![screen shot 2015-06-15 at 2 51 57 pm](https://cloud.githubusercontent.com/assets/1410613/8171611/18b155be-136e-11e5-8a58-d82531cb29fb.png)

Wait, that is weird.

[2015-06-15 22:10] blasten commented on #15
I see two titles in Chrome 43... Although it works fine in Chrome Canary as well as firefox and Safari.

It seems like the `transform` to the title doesn't create a new stacking context or it misses a repaint cycle, but `isolation: isolate;` does force it:  https://github.com/PolymerElements/paper-scroll-header-panel/pull/14/files#diff-9488f05de924be751bb55558e4617b2dR60

[2015-06-16 16:30] TimWillis opened #16 "mobile with widescreen not displaying correctly"
Hi, I have a site at - https://crackling-heat-6713.firebaseapp.com/index.html#!/xmenu/home - that uses this, but when I view it on my htc m8 it looks good when viewing in portrait, but when I turn it to landscape, the background image and my title bleeds over into the content.

Thanks
Tim

[2015-06-16 16:31] TimWillis commented on #16
Noticed in ff mobile.

[2015-06-16 16:32] TimWillis commented on #16
same in chrome too.

[2015-06-16 21:52] ebidel commented on #15
@blasten should we do a release with this fix?

[2015-06-16 23:00] blasten commented on #15
@ebidel yes!

[2015-06-18 16:42] blasten commented on #15
@ebidel I tagged `v1.0.3`!

[2015-06-18 17:53] ebidel opened #17 "Consider using css isolation on .title children"
`.title` light dom children part of `<paper-toolbar>`, but this element provides the scroll effects. Not sure where this should be filed.

For context, see github.com/PolymerElements/paper-scroll-header-panel/pull/14

[2015-06-18 18:54] frankiefu opened #18 "Make title transformation part of the element"
We can add an option to indicate if the title should be resized and have the `paper-scroll-header-panel` does the work for you.

also see https://github.com/Polymer/core-scroll-header-panel/issues/3

[2015-06-19 02:09] frankiefu commented on #16
Confirmed it is a bug.  Can also reproduce it using the paper-scroll-header-panel's demo by resizing the browser from wide to narrow, then scroll the page to get to condensed toolbar and you would see the title and the button are not aligned correctly.

![screen shot 2015-06-18 at 7 03 55 pm](https://cloud.githubusercontent.com/assets/116360/8246059/cfff9a52-15ec-11e5-8218-4df1eafc2e83.png)

This

[2015-06-19 16:40] paullewis opened #19 "Transition with scales instead of height"
I was taking a look at the collapse perf on the Polymer Starter Kit, and it seems that the collapse and expand is done by transitioning on `height`. Unfortunately this will trigger layout, and then paint, making the effect proportional to DOM size and element raster complexity.

As a tiny proof-of-concept, I've implemented the smallest possible version of a collapsible header that uses compositor-

[2015-06-19 17:10] blasten commented on #19
@paullewis cc @frankiefu

Thanks for the comment and the demo :)

`paper-scroll-header-panel` doesn't transition on `height`. It uses `translate3d` to adjust the header y's position.
https://github.com/PolymerElements/paper-scroll-header-panel/blob/master/paper-scroll-header-panel.html#L392-L400

Also, in your example, `scale3d` works great for solid colors, but the header should also support back

[2015-06-19 17:37] paullewis commented on #19
You could swap implementations based on the computed style. If there's a background image set animating on clip would be better than height. It's painty but it would avoid layout and repainting the whole page content.

I wonder why the animation in PSK is on height. That's weird. @addyosmani, is it using the latest version?

[2015-06-19 17:58] blasten commented on #19
PSK is using the `.animate` class available in `paper-toolbar` which unfortunately is transitioning on `height`.
https://github.com/PolymerElements/paper-toolbar/blob/master/paper-toolbar.html#L94

@frankiefu is there a reason to transition on height instead of using what @paullewis suggests?

[2015-06-19 19:13] frankiefu commented on #19
Yeah, `paper-scroll-header-panel` is the one does all the fancy header transformations and it is using `transform`.  I think we should consider removing the `transition on height` in `paper-toolbar` and direct people to use `paper-scroll-header-panel` for header collapsing/expanding.

[2015-06-22 22:47] #16 closed

[2015-06-23 09:33] addyosmani commented on #19
:+1:

Emmanuel mentioned that `paper-header-panel` may get deprecated in favour of something like `paper-scroll-header-panel`, which afaik no longer suffers the same performance issues around `transition`. I'll also stay on top of https://github.com/PolymerElements/paper-toolbar/issues/27

[2015-06-23 19:13] frankiefu commented on #17
`isolation` is not needed anymore:
https://github.com/PolymerElements/paper-scroll-header-panel/pull/23

[2015-06-23 19:13] #17 closed

[2015-06-24 16:14] ebidel commented on #15
@blasten turns out this is back if you turn on native SD using `?dom=shadow`

[2015-06-24 17:01] blasten commented on #15
@ebidel that's right, `paper-toolbar` has this problem:
https://github.com/PolymerElements/paper-toolbar/issues/26

For the case of scroll-header-panel, you see the correct font-size n shady DOM because I can increase the specificity of the selector used to style `.title`, but that's not the case of Shadow DOM.

[2015-06-24 17:18] blasten opened #25 "middle title"
From: @chuckh
https://github.com/PolymerElements/polymer-starter-kit/issues/206

I have done some experimenting with `paper-scroll-header-panel`. For migrating from `paper-header-panel` to `paper-scroll-header-panel` I believe we should keep same functionality we have now. So we would use the `keep-condensed-header` on `paper-scroll-header-panel`. Below is example of that. One issue I am running i

[2015-06-24 20:20] blasten commented on #25
@chuckh you would need to add the `condenses` attribute along with `keep-condensed-header`.

In the examples, condensed headers seem to only work if the title is at the bottom. That's because scroll-header-panel only zooms in/out the title; in other words, it doesn't translate the title yet.
I've been playing with some ideas to fix this. I guess we will also need to fade in/out the elements that

[2015-06-26 13:36] chuckh commented on #25
@blasten any progress on handling a middle title?

So the above should be `<paper-scroll-header-panel condenses keep-condensed-header>`.

[2015-06-26 17:02] frankiefu commented on #25
@chuckh You can add addition code to the custom transformation to make the middle title to move/translate to the bottom while condensing.  Something like this should work:
https://gist.github.com/frankiefu/e42bc14d389e94b86d5a

As @blasten  mentioned we are also working on an enhancement to make the title transformation easier so you don't have to write the code yourself.  It may make sense for st

[2015-06-26 17:09] chuckh commented on #25
@frankiefu I agree starter kit should wait for the enhancement before moving to `paper-scroll-header-panel`.  Also thanks for the work around code example.

[2015-07-01 05:13] loneleeandroo opened #26 "When this.header is undefined."
In certain situations, <code>this.header</code> may be undefined.

In paper-scroll-header-panel v1.0.4, Lines 381-2 shown here:
[code]

could be changed to:
[code]

to accomodate for that.

[2015-07-01 19:27] chuckh commented on #25
@frankiefu I created a demo based your code with the middle and bottom titles area working. I plan to create a pull request for PSK using this method. I slacked with the PSK team and they would like to move forward with the work around for now. Once the `paper-scroll-header-panel` is enhancement we will update PSK with it.

#### This is a gist of the code:

https://gist.github.com/chuckh/9729813fb

[2015-07-01 22:04] blasten commented on #25
@chuckh that looks great, good job! I will work on this as soon as I can.

[2015-07-01 22:50] tdesc opened #27 "Scroll over really big header ( 480px ) not working."
Hello,
I use ```<paper-scroll-header-panel condenses keep-condensed-header header-height="480" condensed-header-height="128">```
Content below have enough height and scroll well if I put pointer over it.
Trying to scroll over header itself not working.
Is it possible to tweak this behavior?

Thanks

[2015-07-02 12:07] tdesc commented on #27
Impossible by design )

[2015-07-02 12:07] #27 closed

[2015-07-03 00:16] hourliert commented on #2
Same issue here. @blasten your solution works. As @alefwmm said, it would be great to have a better solution.

[2015-07-03 03:25] blasten commented on #2
We have removed `translateZ` in https://github.com/PolymerElements/paper-scroll-header-panel/pull/21 So this isn't needed anymore.

[2015-07-03 16:06] hourliert commented on #2
Thanks @blasten I was using the [1.0.4](https://github.com/PolymerElements/paper-scroll-header-panel/releases/tag/v1.0.4). I switched to master and it works.
Again, Thanks.

[2015-07-06 07:35] infacq opened #28 "Show the scrollbar above the header"
I want to have effect as in the official website. How can I make use using this element to produce such effect (shadow, when scroll). Because I hate to see if the header element is blocking the scrollbar when viewing on desktop browser. I want to have scrollbar appear all the time and have effect like this element

[2015-07-06 21:34] blasten commented on #26
This looks familiar. cc @frankiefu

[2015-07-10 00:42] blasten commented on #26
This was fixed in https://github.com/PolymerElements/paper-scroll-header-panel/pull/22, but it wasn't tagged yet.

You can update now to the latest version:  `bower install PolymerElements/paper-scroll-header-panel#^1.0.0`

[2015-07-10 00:42] #26 closed

[2015-07-10 12:35] bardak-dev commented on #28
I have a same question! this realy important, I already broke my head trying to do this.

[2015-07-10 17:22] ebidel commented on #28
https://elements.polymer-project.org/elements/paper-header-panel?view=demo:demo/index.html has this behavior, although I think we may deprecate it and add its functionality to this element. cc @blasten

[2015-07-10 17:44] blasten commented on #28
yeah. I had a brainstorming session with @frankiefu about this issue, because I agree that it's annoying.
- `paper-header-panel` doesn't show the scrollbar above of the header element :(
- the Polymer website uses a custom thing that delegates the scroll to the document element. This approach would require to use `position:fixed` for menus, toolbars, and so on. And it would get even more complicat

[2015-07-10 17:55] #19 closed

[2015-07-10 17:56] #15 closed

[2015-07-11 17:49] bardak-dev commented on #28
@blasten But it somehow working well on: https://store.google.com/
maybe it doesn't polymer but still.

[2015-07-11 23:10] infacq commented on #28
but that one, the shadow always appear. How about shadow appear when user interact with scroller only?

[2015-07-12 09:22] bardak-dev commented on #28
@infacq Are you edited your topic issue? I thought we were talking about displaying scroll-header-panel on desktop. When header-panel gets on scroll line.
![0op4f4aj](https://cloud.githubusercontent.com/assets/5928632/8637253/b34ad01e-2890-11e5-89bf-7d7eb95295b6.png)

[2015-07-12 19:34] blasten commented on #28
@bardak-dev yes that is the issue

[2015-07-13 07:20] naoak opened #31 "Header does not condense in a paper-drawer-panel with webcomponentsjs#0.7.6"
When I use paper-scroll-header-panel in a paper-drawer-panel with webcomponentsjs#0.7.6, header condensation works well on Chrome, but not on Safari and Firefox.

I've created a demo which reproduces this issue.
https://github.com/naoak/paper-scroll-header-panel/commit/864413b5d00c9581b4330e15441265889262d5ed#diff-44621229bee79105bf107156a4af4192

Strangely enough, not in a paper-drawer-panel or w

[2015-07-13 22:36] #31 closed

[2015-07-13 22:40] blasten commented on #31
@naoak this is now fixed!. You should update `bower update`

[2015-07-14 02:15] naoak commented on #31
It works perfectly! Thanks:)

[2015-07-15 17:22] MeloJR opened #33 "Problems with neon-animated-pages and header height"
I use the `neon-animated-pages` component to show different pages of my application, and I use the `paper-scroll-header-panel` component in some of these pages . The problem is that the `paper-scroll-header-panel` does not get the correct height of the paper-toolbar, so the toolbar is above the content of my page.
If I invoke the `measureHeaderHeight` explicitly the component get the correct heigh

[2015-07-15 17:41] blasten commented on #33
@MeloJR can you provide a code snippet to see how you are using neon-animated-pages?

[2015-07-17 18:05] MeloJR commented on #33
Yes, of course, here it is.

[code]

It is a simple test. In my application the things are a bit more complicated but the problem is the same: when we go to page 4 (`temp.selected = 3`) the toolbar is above the content:

![captura de pantalla 2015-07-17 a las 19 56 23](https://cloud.githubusercontent.com/assets/5193005/8753722/4121a526-2cbe-11e5-97ac-a6609105610a.png)

But if we execute `temp.$.pa

[2015-07-21 00:51] blasten commented on #33
@MeloJR thanks this issue is confirmed.

[2015-07-26 15:13] softkot commented on #33
IMHO there is a bug in neon-animatable that implements only Polymer.NeonAnimatableBehavior and i think it should have both Polymer.NeonAnimatableBehavior and Polymer.IronResizableBehavior

As a workaround i am using following code snipped before any other component imports

[code]

[2015-07-29 17:45] blasten opened #34 "add method to condense the header"
as requested in https://github.com/PolymerElements/polymer-starter-kit/pull/247#issuecomment-121673180

[2015-07-31 14:50] robrez commented on #28
:+1:

[2015-07-31 18:04] tehaaron opened #35 "content wont scroll on iOS and possibly other mobile browsers"
**Edit:** Copied over from https://github.com/Polymer/polymer/issues/2178 where @robrez mentioned he had this happen on Nexus 6 also.

I have a pretty straight-forward SPA that uses paper-scroll-header-panel, paper-toolbar, paper-tabs, and iron-pages. When I click on the first paper-tab in iOS and it displays the corresponding iron-page it does not allow me to scroll down and view the iron-page co

[2015-08-01 11:24] MeloJR commented on #33
The snippet you proposed solves this problem and others of the same nature. Thank you so much!

[2015-08-08 16:07] Tanbouz commented on #33
It bugs for me if the page containing this element is lazy loaded on Chrome. Works fine on Firefox and Edge with the neon animated pages.

When it bugs, the measuredHeaderHeight is zero. Only if I use setTimeout and call measuredHeaderHeight after a little while it works and return the true header height.

[2015-08-10 19:50] blasten commented on #35
@tehaaron You definitely need to set a default value for your `selected` property since you are binding to this property. e.g. http://jsbin.com/hacuja/edit?html,output Notice that I added the class `fit` to the scroll-header-panel  and an initial value for `selected`  Tested in Nexus 6.

[2015-08-10 19:50] #35 closed

[2015-08-12 17:14] blasten commented on #34
Released in v1.0.7

[2015-08-12 17:14] #34 closed

[2015-08-13 01:07] markstewie opened #38 "Lines 591-> 593 cause Firefox to crash"
This part of the code causes Firefox to crash in the latest version

      if (!event || !this.fixed && y !== this._y) {
        this._transformHeader(y);
      }

Console logs `ReferenceError: event is not defined`

Commenting these lines out fixes the problem.

[2015-08-13 01:47] #38 closed

[2015-08-13 01:52] blasten commented on #38
Thanks for reporting the issue. This has been fixed.
You can run `bower update`

[2015-08-17 20:27] jordangarside opened #40 "keepCondensedHeader doesn't appear to work"
I believe `keepCondensedHeader` is supposed to keep the condensed version of the header at the top of the page without hiding, but it doesn't seem to do anything when enabled (the condensed bar still hides on scroll down).

The `fixed` option doesn't work for this purpose either as it keeps the whole header height without respecting the `condenses` option.

I'm sorry I don't have time to do a demo

[2015-08-20 01:46] aydun1 opened #41 "Repaints on scroll"
I've noticed that this elements "repaints on scroll" according to Chrome developer tools. On slower devices and Firefox Mobile this seems to have a slight impact on scroll performance.

More noticeably, having an element that also repaints on scroll inside a `paper-scroll-header-panel`, on mobile devices, demonstrates some lag. When you scroll the page, the contents of the inner scrollable element

[2015-08-20 21:48] bipin-nag opened #42 "paper-header not working on chrome 44"
I am using paper-header class for my custom toolbar element. Firefox shows the content properly but chrome does not.

    <body unresolved class="fullbleed layout vertical">
        <paper-scroll-header-panel class="flex">
          <toptoolbar-user class="paper-header">
          </toptoolbar-user>
          <paper-drawer-panel id="paperDrawerPanel" style="">

            <paper-header-panel draw

[2015-08-21 23:38] blasten commented on #40
Here's an example: http://jsbin.com/najuwa/edit?html,output. Attribute names use hyphens instead of camelCase.

[2015-08-21 23:38] #40 closed

[2015-08-22 00:23] blasten commented on #41
**I filed an issue in Chrome:** https://code.google.com/p/chromium/issues/detail?id=514303

In Chrome (I don't know about other browsers), this element will trigger repaint on scroll if the screen density of the display is very low. (It won't in retina display) This is caused by adding the CSS property:  `overflow:auto` to any element.  I removed a `translateZ(0)` https://github.com/PolymerElement

[2015-08-22 00:35] blasten commented on #42
@bipin-nag the `paper-header` class should be used inside a `paper-header-panel`. e.g.

[code]

Feel free to open an issue in https://github.com/PolymerElements/paper-header-panel if you need more help.

[2015-08-22 00:35] #42 closed

[2015-08-22 00:58] jordangarside commented on #40
Thank you.

[2015-08-22 01:04] bipin-nag commented on #42
@blasten But according to the [documentation](https://elements.polymer-project.org/elements/paper-scroll-header-panel) paper-header can be used for scroll-header-panel.

[2015-08-22 01:29] blasten commented on #42
I'd say that you can still refactor your code a little bit, so you can have a toolbar for the drawer and a toolbar for the main content. e.g. http://jsbin.com/tiwuze/edit?html,output

[2015-08-24 01:15] aydun1 commented on #41
Thank you, that's very helpful.

I was able to fix the lag on my inline `overflow:auto` element by applying `transform: translateZ(0)` to it, for now. But I will look into the new layout elements sometime.

[2015-08-24 23:20] ozasadnyy commented on #33
The same for me.

It works only with a timeout. Even with 0 delay:

[code]

[2015-08-30 11:25] ozasadnyy opened #43 "Can't set dynamic class"
Hello developers.

How to set dynamic class for `paper-scroll-header-panel`?

At first I have tried this way:
[code]
But after rendering I don't get my class for the element.

Then I have tried manually add class to `paper-scroll-header-panel`, but my styles also doesn't work:
[code]

Any ideas how to overcome this problem?

[2015-08-30 17:02] samccone commented on #43
hi @ozasadnyy

You will want to use `attribute-binding`

#### `$=`

https://www.polymer-project.org/1.0/docs/devguide/data-binding.html#attribute-binding

[code]

[2015-08-30 20:48] ozasadnyy commented on #43
@samccone Yeah, my bad, but I have a problem how to make my style works.

[2015-09-01 20:10] emersonbottero opened #44 "Paper-Tabs inside (paper-scroll-header-panel) with scrollable option not rendering !"
to test use PSK 1.0.3 and replace
[code]
with
[code]

[2015-09-04 00:14] #41 closed

[2015-09-07 07:58] AndreasGalster opened #45 "paper-scroll-header-panel not condensing on mobile with shadow dom polyfill"
The paper-scroll-header-panel condenses as expected on desktop but on mobile it stays in its expanded state and/or behaves buggy. It only works if I change orientation and switch back.

I'll try to send a link where you can see it happening soon.

[2015-09-07 17:21] didrocks opened #46 "Can't scroll over element"
When we have a large height paper-scroll-header-panel, user may want to scroll the whole page over the element as well.

There was a workaround percing the shadow dom on core-scroll-header-panel (https://github.com/Polymer/core-scroll-header-panel/issues/1), however, this isn't possible with Polymer elements 1.0 anymore. Do you think this could and should be implemented elegantly (at least, scroll

[2015-09-09 16:58] chuckh commented on #25
@blasten have you had a chance to work on this? I have found an issue in PSK with the approach. The middle title is replaced by bottom title when drawer is open or closed. See:

![resize-header-bug](https://cloud.githubusercontent.com/assets/19915/9768202/0233ec32-56d7-11e5-96f7-0a0f25b4e21c.gif)

What I found:
1. It happens when drawer is opened or closed, after paper-responsive-change event is f

[2015-09-09 17:17] blasten commented on #25
@chuckh It's among my top priorities. FYI: @frankiefu and I have been working on new app layout elements: https://github.com/PolymerLabs/app-layout

We improved a lot the design (both API and how it feels) as well as performance in the new layout elements and although it's still a work in progress, we would like to have a stable release very soon.

I believe this functionality will come along with

[2015-09-09 17:51] chuckh commented on #25
@blasten great! `app-layout` looks sweet, nice work. Hopefully when it is stable we can incorporate into Polymer Starter Kit.

[2015-09-11 18:52] ebidel opened #47 "Feature request: cover mode"
One thing that `paper-header-panel` has is `mode="cover"`, which gives you a nice card over banner UI:

<img width="1205" alt="screen shot 2015-09-11 at 7 35 45 am" src="https://cloud.githubusercontent.com/assets/238208/9817472/eb711bd2-5857-11e5-9ea6-ae8ca3cc04c0.png">

Problem is that when using this element with a negative margin on the main content, you have to set `position:relative;z-index:

[2015-09-11 18:55] blasten commented on #47
:+1: you should check out polymerlabs/app-layout :)

[2015-09-23 22:18] ramonwirsch opened #48 "Event paper-header-transform not fired on header changes caused by window resizes"
If the window is resized, the length of the main content can change, and therefore the height of the header.
We use the 'paper-header-transform' event to scale a picture and title inside the header, but this event is not fired on resizes, so the header contents may misalign until the next scroll event.

I have found no easy way to manually force it to refresh.

[2015-09-28 01:22] #43 closed

[2015-09-28 21:51] elynch303 opened #49 "using this element brakes css parallax effect"
when using this element images with  background-attachment: fixed; brake.

[2015-09-29 12:25] kristianmandrup opened #50 "Composability problems when using custom child elements"
Trying to compose my main `index.html` file into smaller parts to be managed independently.
My first naive attempt, extracting a `drawer-nav` element from the Starter kit template.

[code]

[code]

However this falls flat on its face. Looks like `paper-scroll-header-panel` is hardcoded to except certain child elements, and won't even allow a wrapper (custom element) as a child for proper display.

[2015-09-29 12:47] kristianmandrup commented on #50
Your current Starter kit `index.html` is a ~200 lines "monstrosity". Please allow us to break it up into smaller logical chunks without breaking the Polymer elements. Thanks :)

[2015-09-29 12:52] addyosmani commented on #50
Thanks for the feedback. Where possible, I would separate out feedback specific to `paper-scroll-header-panel` and Starter Kit on their respective issue trackers :)

On Starter Kit's index: we're aware of the current length issues and plan to investigate alternative patterns that balance ergonomics, size and what is easiest for beginners to grok when first looking at the project.

[2015-09-29 13:09] kristianmandrup commented on #50
Thanks for the quick reply. Trying to find some way to break up the main parts:
Now trying to extract the full drawer: `main-drawer`

[code]

But for some reason, as soon as I deviate from the standard layout, there is no element `'mainContainer'` as required by the default router code.

[code]

This would normally be controlled by `paper-scroll-header-panel`, so it looks like it is super fragile

[2015-09-29 13:44] kristianmandrup commented on #50
Would also be nice if each component contained brief instructions on development/contribution guidelines:
- run demo locally
- run tests locally

or even just a reference to a general contribution guidelines page ;)

[2015-09-29 14:06] kristianmandrup commented on #50
Made a pull, learned a few things from the tests, but still... Looks like the PSK uses a nested layout, where `main-drawer` is yet another nested `paper-scroll-header-panel`

[code]

That should ideally also be covered by the tests. I'm not sure if you are just "lucky" or if it is currently "designed" to handle such scenarios. In my case, taking a small step from the "golden path" caused this pyra

[2015-09-29 14:19] kristianmandrup commented on #50
Trying to help out by adding more tests... please help out whenever one of you has some spare time.
Thanks.

[2015-09-29 16:14] kristianmandrup commented on #50
Trying a different approach:

[code]

This causes NO console errors, and displays both the header and the content area. However, when I scroll, the top just stays put without sliding back like it normally does...

[code]

[2015-09-29 16:32] kristianmandrup commented on #50
What I get in the DOM is this:

[code]

Then elsewhere in the DOM, those custom elements are inserted.

[code]

Why so mysteriously complicated!? There must be a simpler way or a way around all these limitations built into this complex architecture!?

[2015-09-29 17:05] kristianmandrup commented on #50
After some debugging, I found this major problem:

[code]

`nodes` return an empty list, so it can never set a header to calculate scrolling offset from. I wonder what `getDistributedNodes` does?

[code]

So, I guess it tries to find the nodes linked to this content element  `<content id="headerContent" select="paper-toolbar, .paper-header"></content>`

From [accessing-the-dom-inside-a-content-tag

[2015-09-29 17:29] kristianmandrup commented on #50
Finally I think I understand the problem:

"Note: select can only select elements which are immediate children of the host node. That is, you cannot select descendants"

http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/#toc-separation-separate

[2015-09-29 17:43] kristianmandrup commented on #50
The only way I can see a solution currently then, would be to use inheritance. But that is no longer supported :(

https://www.polymer-project.org/1.0/docs/migration.html#inheritance

Could be done via behaviors I guess https://www.polymer-project.org/1.0/docs/devguide/behaviors.html

Looks like it hit the current limit of the Polymer architecture on my first try at "real-life" compositioning...

[2015-09-29 18:17] robdodson commented on #50
For what it's worth, the layout elements are currently being redone to make them easier to use (https://github.com/PolymerLabs/app-layout). These are not ready for production yet, but I wanted to let you know that we're working on it.

[2015-09-29 18:22] kristianmandrup commented on #50
Thanks Rob :) Looks like it will be Xmas again this year!!! Thumbs up! I would love to contribute, in fact I'm planning to move to San Francisco pretty soon... Please leverage the Behaviour mechanism on steroids. Much more flexible than old school inheritance :) But I'm sure I don't need to tell you that :P
Cheers!!

PS: Looking forward to more polycast episodes. Perhaps delve into how to use the

[2015-09-29 18:22] #50 closed

[2015-09-29 18:29] robdodson commented on #50
:+1: I talked about `<content>` a looooong time ago (https://youtu.be/GAjpaM4HcCQ?t=1m25s) but yeah I should do an update. That video is from back when we were using Polymer 0.5

[2015-09-29 18:35] kristianmandrup commented on #50
Cool :) I watched all the episodes, but somehow I missed or forgot that :P Information overload!!

[2015-09-29 18:39] kristianmandrup commented on #50
I made this nifty little tool https://github.com/kristianmandrup/gulp-link-imports to make link imports declarative via lists in plan `.yaml` files. Since `elements.html` quickly looks like a "disaster", trying to parse the `href`s in order to get an overview of what elements are included.

[2015-09-29 18:44] robdodson commented on #50
oh cool :sparkles:  Yeah I'm not a big fan of the giant elements file. That's sort of a byproduct of using a big dom-bind element :\

[2015-09-29 19:19] kristianmandrup commented on #50
Where do you prefer to discuss Polymer related stuff in private?
Currently you can use behaviours to achieve mixins for functionality, but style is still fully private to each elements, or is there a way to make styles mixin as well?

Ah yes `@apply(--mixin-name);` but this is what I was looking for :)

To share style declarations between elements, you can package a set of style declarations insid

[2015-09-30 16:30] robdodson commented on #50
Usually just on the slack channel (polymer-slack.herokuapp.com)

On Tue, Sep 29, 2015 at 12:19 PM, Kristian Mandrup <notifications@github.com

[2015-09-30 16:37] kristianmandrup commented on #50
Ah, of course. Been experimenting with custom Polymer mixin functionality, in order to "simulate" some sort of convenient fine-grained "inheritance"... Now I hope to use it to achieve in essence what I set out to do, having custom elements composed/inserted via content insertion targets.

https://github.com/kristianmandrup/polymer-ext

[2015-10-04 18:05] deckar01 commented on #46
Setting `pointer-events: none;` on the toolbar will pass the scroll events to the underlying container element, but is not a complete solution due to it's children still capturing scroll events.

The fact that the scroll bar affects the toolbar implies that the toolbar should be on the parent panel. Solutions for #28 should take this issue into consideration.

[2015-10-04 18:19] deckar01 commented on #28
Discussion from #46

[2015-10-10 11:35] JacekKosciesza opened #52 "documentation methods vs properties"
There is some inconsistency in documentation e.g. scroller is a property and you use it like this paperScrollHeaderPanel.scroller but documentation says that it is a method which suggests that you use it like this paperScrollHeaderPanel.scroller()

[2015-10-12 21:31] wfalkwallace commented on #4
This seems to still be an issue with SVG data-uri `background-image`s - or am I missing something?

[2015-10-12 23:55] frankiefu commented on #52
This is an issue in the hydrolysis tool which the doc page uses to get the info.  Filed hydrolysis issue: https://github.com/Polymer/hydrolysis/issues/144

[2015-10-12 23:55] #52 closed

[2015-10-19 04:40] blasten commented on #49
@elynch303 can you provide a code to see how you are using this element?

[2015-10-19 04:46] blasten commented on #48
@ramonwirsch `iron-resize` triggers when you resize the window and it should update the height of the header. The method `measureHeaderHeight` is called on every resize event. https://github.com/PolymerElements/paper-scroll-header-panel/blob/master/paper-scroll-header-panel.html#L383, but potentially the header had a fixed height. Can you provide a jsbin to see if there's anything this element cou

[2015-10-19 04:55] blasten commented on #46
@didrocks sorry for the late response. You are right, and we always want to do better even if there are some browser/perf limitations. For that reason we have a new experimental set of layout elements https://github.com/PolymerLabs/app-layout  that aim to solve this issue. This experimental set of elements will be soon released as carbon elements along with new elements for routing and internation

[2015-10-19 04:56] blasten commented on #45
+1 please share the link

[2015-10-19 05:12] blasten commented on #44
Did you import paper-tabs?

[2015-10-19 07:16] didrocks commented on #46
@blasten: excellent, thanks! I'm giving it a look :)

[2015-10-19 16:46] albertolobrano opened #53 "Feature request: to be able to style component scrollbar"

[2015-10-19 16:48] samccone commented on #53
@albertolobrano what does

Mean to you? What would the API look like, what features are you looking for?

[2015-10-19 19:18] ramonwirsch commented on #48
In the meantime I managed to find the seperate resize event on my own and fixed my problem.
I also just tried to recreate the circumstances of when i opened the issue and for life of me I cannot figure out what went wrong that day, as it is working perfectly right now
I apologize for the inconvenience. :-(

But just as a suggestion: given the event name "header-transform", the event could addition

[2015-10-19 19:18] #48 closed

[2015-10-20 08:44] albertolobrano commented on #53
Right now is not possible to style the component scrollbar because of the style encapsulation.

How can we style the component scrollbar ?  For example how can i inject the following css into the component?

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  backgrou

[2015-10-20 10:44] emersonbottero commented on #44
yes

2015-10-19 3:12 GMT-02:00 Emmanuel Garcia notifications@github.com:

[2015-10-22 23:00] andyfinity commented on #33
This issue affected me too.

My workaround involved running .measureHeaderHeight() like others have done, and that appears to fix most of my problems. However, I have a tall header that condenses to a normal one which doesn't behave properly.

![selection_016](https://cloud.githubusercontent.com/assets/600005/10680164/0f53d2de-78d2-11e5-9b23-316bd0435af1.png)

This behavior seems to only be seen w

[2015-10-26 19:38] blasten commented on #53
so many pseudo elements.... Feel free to send a PR to include a css mixin for this feature.

[2015-10-28 14:00] chuckh commented on #25
@blasten any progress fixing the

See https://github.com/PolymerElements/paper-scroll-header-panel/issues/25#issuecomment-138974570.

This is related to PSK issue PolymerElements/polymer-starter-kit#274.

[2015-10-28 19:01] addyosmani commented on #25
After speaking with Taylor, it looks like it might be a few months before we'll be able to switch PSK over to using the `app-layout` collection.

I realise it totally makes sense to focus our efforts there, but in case there's bandwidth to fix the above issue, we'd totally :heart: it.

[2015-11-01 09:35] albertolobrano commented on #53
Using the scroller i am able to customize it as i like.  I will send you a pr just to include a mixing to facilitate the styling of the component.

[2015-11-02 20:40] blasten commented on #33
This issue is now fixed in https://github.com/PolymerElements/neon-animation/releases/tag/v1.0.8

[2015-11-02 20:40] #33 closed

[2015-11-03 11:32] 43081j opened #59 "Feature request: Change the condensing ratio into a property"
Currently the condensed header height is measured by 1/3 of the total height.

This works fine if using a toolbar with class `.tall` because there are 3 equal-height sections, so 1/3 results in the bottom section displaying.

However, if you use `.medium-tall` or no class at all, clearly 1/3 will cut through the middle of the toolbar. For example, a `.medium-tall` toolbar shows half of the bottom

[2015-11-04 00:49] blasten commented on #59
@43081j Have you consider using the `header-height` and `condensed-header-height` properties?

[2015-11-04 00:50] blasten commented on #49
Please reopen when you have an example.

[2015-11-04 00:50] #49 closed

[2015-11-04 10:36] albertolobrano opened #61 "Should the headerState property have notify true ?"
I would like to observe this property from the host.

headerState: {
        type: Number,
        readOnly: true,
        value: 0
      },

[2015-11-04 22:37] blasten commented on #61
Feel free to send a PR for this feature. https://github.com/PolymerElements/paper-scroll-header-panel/blob/master/CONTRIBUTING.md#submitting-pull-requests

[2015-11-04 22:39] #59 closed

[2015-11-04 22:40] blasten commented on #28
This issue is fixed in https://github.com/PolymerLabs/app-layout

[2015-11-04 22:45] blasten commented on #25
@addyosmani Yup. check this out: https://github.com/PolymerLabs/app-layout/issues/13

[2015-11-05 10:52] 43081j commented on #59
This isn't really a closed issue. As specified in my original comment:

The `1/3` value is essentially a magic number and belongs in a variable.

By setting a specific header height, you are assuming the header is always the same height. In many cases, it is not, rather it is responsive and reduces in size on lower resolutions. This would be easy to deal with if the `1/3` value could be set to som

[2015-11-05 18:22] elynch303 commented on #49
https://github.com/elynch303/paper-scroll-header-panel/blob/parallax-brake-example/demo/brake-example.html

i forked the repo and made a example file so you can see this issue

the working parallax sample can be found here http://codepen.io/keithclark/pen/JycFw

let me know if you need anything else i can do to help.
I will delete the branch once you are done with it.

[2015-11-09 19:45] vlna opened #63 "bg9.jpg - copyright violation"
## Status
`/demo/images/bg9.jpg` looks like a screenshot from a copyrighted film **Moonrise Kingdom**, and the
copyright for it is most likely owned by the studio **Universal Pictures** which produced the film.

See https://www.youtube.com/watch?v=_eOI3AamSm8&feature=youtu.be&t=1m49s

## Expected change
I guess this image is used without copyright holder approval and should be removed or replaced

[2015-11-09 23:11] #63 closed

[2015-11-09 23:13] blasten commented on #63
Hi @vlna. Thanks for the report. The image has been removed.

[2015-11-10 06:54] vlna commented on #63
Hi @blasten. I checked images you used as replacement. Are you sure they are PD/CC0? It looks for me like leaked backgrounds from LG G Watch - http://www.androidpolice.com/2014/06/03/leak-alleged-system-dump-from-lg-g-watch-emerges-video-of-bootloader-animation-shows-up-on-youtube/

At least `bg1.jpg` is for sale on http://www.dreamstime.com/stock-image-purple-ranges-horizontal-image1098981 and `b

[2015-11-13 09:39] yask123 opened #66 "Font size too big for the container"
This bug exists for ` Transform header 3` and ` Transform header 4` example.
[Link](https://elements.polymer-project.org/elements/paper-scroll-header-panel?view=demo:demo/transform-header-3.html&active=paper-scroll-header-panel)
Font size too big for the container `bottomBar`
![ohix3vdokelrkgukvno37l7mhtjh8hbca_h7-us2p1s](https://cloud.githubusercontent.com/assets/1812021/11143030/f7d363f2-8a17-11

[2015-11-15 18:58] #61 closed

[2015-11-15 19:01] blasten commented on #66
The issue is that paper-toolbar sets `overflow: hidden` to the title. https://github.com/PolymerElements/paper-toolbar/blob/master/paper-toolbar.html#L193

[2015-11-17 20:58] elynch303 commented on #49
@blasten i have added some sample code for testing in the comment above

[2015-11-17 21:13] blasten commented on #49
@elynch303 I see.  `background-attachment: fixed;` requires document scrolling which isn't currently supported by paper-scroll-header-panel; however, you can use app-header which has a few demos using the document scroll. https://github.com/PolymerLabs/app-layout

[2015-11-18 15:26] Alos opened #70 "Uncaught TypeError: Illegal invocation (Transform related?)"
The `paper-scroll-header-panel` with a `paper-toolbar` element causes Chrome and Safari to fill the console with errors. The application works as expected and the toolbar is able to resize correctly.

## Expected outcome

No errors should be triggered by scrolling.

## Actual outcome

The console will get a few errors every time the toolbar must change its hight. This happens in Chrome, Safari. Fi

[2015-11-18 21:49] elynch303 commented on #49
@blasten thanks man for the work around (for now i just used the paper-toolbar and added the show nav on scroll function manually with js), just wondering if there is any plans on supporting background-attachment: fixed; if i can find a solution i will submit a pull request. keep me posted.

[2015-11-25 01:38] blasten commented on #70
@Alos Thanks for the well documented issue.  Which version of Polymer and paper-scroll-header-panel are you using?

[2015-11-25 11:41] Alos commented on #70
@blasten Hi there, the versions that come with the [Polymer Starter Kit 1.1.1](https://github.com/polymerelements/polymer-starter-kit/releases):

Polymer 1.2.1
paper-scroll-header-panel 1.0.9

[2015-12-01 13:11] femiadeyemi opened #72 "Typo in demo/drawer-panel.html"
There is a typo in line 39 of `paper-scroll-header-panel/demo/drawer-panel.html`. Inside the custom css, one of the semi-colons needs to be removed, that is: `background-color: var(--paper-grey-200, #eee);;` should be change to `background-color: var(--paper-grey-200, #eee);`.

[2015-12-01 21:03] cgriffin4 commented on #70
I'm not sure what changed but @Alos check and see if your middleContainer and bottomContainer are 'undefined'. I am running an app similar to the Starter Kit and had the same error that I resolved by changing var middleContainer = Polymer.Base.Dom(document)... to var middleContainer = app... (the code in the paper-header-transform listener is in app.js.)

[2015-12-01 23:36] #72 closed

[2015-12-05 17:33] Alos commented on #70
@cgriffin4 you are totally right! I removed those lines and the application worked perfectly! My bad!

[2015-12-05 17:33] #70 closed

[2015-12-10 00:42] frankiefu commented on #63
@vlna  Yeah we have the license. Polymer is a Google project.

[2015-12-15 18:14] #46 closed

[2015-12-18 00:38] JustinXinLiu opened #76 "Scrolling bug in paper-scroll-header-panel 1.0.13"
If you run the latest *PSK*, scroll the main page all the way up and then scroll down just a little bit, you will see that the condensed header also moves `1px` down.

This might have something to do with this change in `1.0.13`.
[code]

[2015-12-19 00:33] #76 closed

[2015-12-19 00:55] blasten commented on #25
@addyosmani @chuckh The latest app-layout is out https://github.com/PolymerLabs/app-layout and I hope you guys find it very useful. I'm closing this issue as we have a new model that allows to build animations like this one.

[2015-12-19 00:55] #25 closed

[2015-12-19 00:57] blasten commented on #47
We support this now in app-layout: https://github.com/PolymerLabs/app-layout. Please see https://github.com/PolymerLabs/app-layout/blob/master/app-header/demo/music.html

[2015-12-19 00:57] #47 closed

[2015-12-19 00:59] blasten commented on #28
I'd recommend trying out https://github.com/PolymerLabs/app-layout, This issue is fixed 🎉

[2015-12-19 00:59] #28 closed

[2015-12-19 01:00] blasten commented on #44
Can you `bower update`? This issue seems to be fixed.

[2015-12-19 01:01] blasten commented on #18
This issue has been fixed in app layout https://github.com/PolymerLabs/app-layout

[2015-12-19 01:01] #18 closed

[2015-12-19 11:22] emersonbottero commented on #44
Its fixed :D

Em sex, 18 de dez de 2015 23:00, Emmanuel Garcia notifications@github.com
escreveu:

[2015-12-20 01:55] notwaldorf commented on #44
Closing as fixed

[2015-12-20 01:55] #44 closed

[2015-12-20 16:52] HedCET opened #78 "paper-drawer-toggle not working with it"
I want to toggle `paper-drawer-panel` drawer from `paper-scroll-header-panel > paper-toolbar > icon="menu"`, the code below

[code]
not working with `paper-scroll-header-panel`

How i toggle `paper-drawer-pane`l drawer from `paper-scroll-header-panel > paper-toolbar > icon="menu"` ?

[github](https://github.com/HedCET/patentability_polymer/blob/master/.polymer/linto/layout-inbox.html#L180)

[stack

[2015-12-20 17:14] ebidel commented on #78
Please post a jsbin of the issue.

[2015-12-20 17:40] #78 closed

[2015-12-21 22:21] HedCET opened #79 "not working if multiple paper-scroll-header-panel inside neon-animated-page"
http://jsbin.com/winedi/edit?html,output

after switching neon-animated-page from 0'th page to 1'st page (both contains independent paper-scroll-header-panel) paper-scroll-panel in the 1'st page not working

[2015-12-22 16:54] robdodson opened #80 "Loading the element async produces undefined errors"
I'm not sure the root cause of this issue but here's what I've been able to dig up.

When I load the element async and it has a condenses attribute, the `condensesChanged` observer runs immediately, causing `_updateScrollState` to run. In this function, the `ctx` object is undefined, so checks [like this](https://github.com/PolymerElements/paper-scroll-header-panel/blob/master/paper-scroll-header-

[2015-12-22 16:59] blasten commented on #80
@robdodson We could also add a `isAttached` parameter to each of the observers. Could you try replacing the observers in https://github.com/PolymerElements/paper-scroll-header-panel/blob/master/paper-scroll-header-panel.html#L287-L292  for:

[code]

In that way, the observers will only run after attaching the scroll-header-panel. I hope that fixes the issue.

[2015-12-22 17:05] robdodson commented on #80
Hm it's working a little better but still broken. Now I'm getting different errors :)

<img width="1022" alt="screen shot 2015-12-22 at 9 05 36 am" src="https://cloud.githubusercontent.com/assets/1066253/11961079/33f2b91e-a88b-11e5-951f-730e1eb02015.png">

[2015-12-22 17:29] blasten commented on #80
hmmm. I see. Is the scroll-header-panel already attached before upgrading it?

[2015-12-22 17:34] robdodson commented on #80
hm weird. So the elements are just sitting on the page in html. Putting console logs in `attached` shows that the attached handler never runs.

[code]

I do see the console log from ready though

[2015-12-22 17:41] blasten commented on #80
That's weird. The element is on the page, and then you upgrade async? Can you reproduce it in jsbin?

[2015-12-23 01:58] horochovec opened #81 "Error changing the fixed attribute dynamically"
Hello,

I trying to change my toolbar dynamically, removing the attribute "fixed" on my "paper-scroll-header-panel" and adding the class "medium-tall" on my "paper-toolbar":

this.$.headerPanel.removeAttribute("fixed");
this.$.toolbar.classList.add("medium-tall");

and using this to update my styles:
this.$.headerPanel.updateStyles();
this.$.toolbar.updateStyles();
or
Polymer.updateStyles();

but

[2015-12-23 02:12] robdodson commented on #80
For anyone following along at home... Sent over a sample but the team is on holiday so we'll resume when folks roll back in :christmas_tree: :santa:

[2015-12-29 16:31] JosefJezek opened #82 "/deep/ combinator is deprecated"
From Chrome Console Version 47.0.2526.106 (64-bit)

[code]

https://elements.polymer-project.org/elements/paper-scroll-header-panel?view=demo:demo/transform-header-1.html&active=paper-scroll-header-panel

[2016-01-05 19:10] blasten commented on #82
hmm. those /deep/ are coming from here `view-source:https://elements.polymer-project.org/elements/elements.build.html` I moved this issue to https://github.com/Polymer/polymer-element-catalog/issues/234

[2016-01-05 19:10] #82 closed

[2016-01-05 19:15] blasten commented on #79
@HedCET is this the right jsbin? I didn't see the paper-scroll-header-panel/neon-animated-page...

[2016-01-05 19:18] blasten commented on #80
@robdodson would have a jsbin to repro the issue/ steps to repro the issue?

[2016-01-05 19:25] blasten commented on #81
You may need to call `this.$.headerPanel.measureHeaderHeight()` after. Please reopen if the issue is still present.

[2016-01-05 19:25] #81 closed

[2016-01-05 19:26] blasten commented on #53
closing this.

[2016-01-05 19:26] #53 closed

[2016-01-05 19:45] blasten commented on #45
This issue appears to have been fixed. Please reopen if the issue is still present.

[2016-01-05 19:45] #45 closed

[2016-01-05 20:01] jasmith79 commented on #80
Same issue.
Steps to repro
In a script inside the head tag
Create a link tag with the appropriate href and rel attributes
Append to document head
In the body is an auto-binding template containing a `paper-scroll-header-panel`.
Errors ensue.

Downloading the latest (1.2.1) Polymer Starter Kit and replacing the

`<link rel="import" href="elements/elements.html">`

line with

[code]

will show the e

[2016-01-05 20:11] robdodson commented on #80
I can also try to put together a jsbin later today if that helps :)

On Tue, Jan 5, 2016 at 12:01 PM, jasmith79 notifications@github.com wrote:

[2016-01-06 17:01] robdodson commented on #80
Sent you a zip which demonstrates the issue

[2016-01-07 06:18] hedcet commented on #79
@blasten actually i got answer here http://stackoverflow.com/questions/34405453/paper-scroll-header-panel-not-working

[2016-01-07 06:18] #79 closed

[2016-01-08 22:04] vguillou commented on #80
Another way to reproduce the problem :
- `git clone` <a href="https://github.com/PolymerElements/polymer-starter-kit">Polymer Starter Kit</a>
- <a href="https://github.com/PolymerElements/polymer-starter-kit#install-dependencies">Install the dependencies</a>
- Follow the <a href="https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/polymer-perf.md">Polymer Performance Recipe</a>

[2016-01-14 23:43] LoveAndHappiness opened #85 "Custom Element that uses paper-dialog inside paper-toolbar doesn't work"
Hi,

Here is the reproduction: http://plnkr.co/edit/t8PalnvvSP6uSNuK1WPZ

When you click on **LOGIN** a dialog will appear. But the only thing that happens is that the dialog is under the <iron-overlay-backdrop>

This seems to be happening only in combination with the paper-scroll-header-panel when the `custom-element` is put in the `paper-toolbar`.

I reproduced this by not using a custom element

[2016-01-26 22:19] blasten commented on #80
Repro case: http://jsbin.com/tozuwu/edit?html,output. This seems like a Polymer bug. There are a few more elements that might have the same issue:
1. https://github.com/PolymerElements/paper-menu-button/blob/master/paper-menu-button.html#L372-L373
2. https://github.com/PolymerElements/iron-menu-behavior/blob/master/iron-menu-behavior.html#L310

[2016-01-28 20:56] blasten commented on #85
Please take a look at https://github.com/PolymerElements/paper-dialog-behavior/pull/56  cc @valdrinkoshi

[2016-01-28 20:56] #85 closed

[2016-02-13 00:43] #80 closed

[2016-02-13 17:44] hwebb opened #88 "/deep/ combinator is deprecated."
In the console it gives the warning:
/deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details.
paper-scroll-header-panel.html:357

It's not that it is breaking anything, but it's a bit annoying to have that warning all the time.
Is there a plan to fix it?

[2016-02-16 18:38] frankiefu commented on #88
We have already taken out all the references to `/deep/` in `paper-scroll-header-panel`.  Please update to the latest version of `paper-scroll-header-panel` to see if the problem is still there.

[2016-02-20 14:05] hwebb commented on #88
I do have the most recent version but it still complains.
It points at the line 357 and underlines ".offsetHeight" on the code:
if (header && header.offsetHeight) {

Thanks.

[2016-02-24 18:34] blasten commented on #88
@hwebb It might be coming from some place else. Feel free to reopen the issue if you found where it was coming from.  You could add a `console.warn` to iron-shadow-flex-layout.html

[2016-02-24 18:34] #88 closed

[2016-02-25 02:55] nagarjunredla opened #89 "Feature Request: background-image property to set the background image at full size"
It would be awesome if the element had a property to set the background image for the scroll header panel when at full size.
Example:
`<paper-scroll-header-panel background-image="{{imageUrl}}"></paper-scroll-header-panel>`

This would let users easily change the background image when the header is at full size. Makes work a lot easier.
Like on the Google Play Store App (The header image in the ap

[2016-02-25 22:47] hwebb commented on #88
Thanks for the reply. Indeed I was calling iron-flex-layout/classes/iron-flex-layout.html, I've changed it to iron-flex-layout/iron-flex-layout-classes.html and it works.

[2016-03-12 10:59] David-Mulder commented on #89
Just noting that you should use `customStyle` for this, that way you don't end up piercing in to the shadows.

[2016-03-20 12:59] torsjonas opened #91 "Standard button element not clickable in paper-header"
An button element is not clickable when placed directly inside an element having the paper-header class. However, wrapping the button in paper-material makes it clickable. Don't know if this behavior is a bug or a feature, but it was not what I was expecting.

Some partial code to clarify what I mean:

With the following html the button is not clickable:
[code]

With the following html the button

[2016-03-21 18:04] blasten commented on #91
The docs is missing that the class should have `position: relative | absolute` http://jsbin.com/sijedo/edit?html,output

[2016-03-21 18:58] nagarjunredla commented on #89
Thanks! Updated the code.

[2016-04-22 18:21] triune opened #94 "create a new paper-bottom-nav element"
https://www.google.com/design/spec/components/bottom-navigation.html#

There's no place to really put this ticket and it is (sorta) similar to a paper-scroll-header-panel for the site footer... so it ended up here. But, basically we need an official Polymer element that implements this part of the Material Design spec.

[2016-05-05 15:38] avizcaino-newuibcn opened #95 "Keep header condensed related to content"
I would like to keep the header condensed related to content, meaning that for some content I want the normal behavior of the scrolling with the keepCondensedHeader, but for some other content I want the condensed version. I'm not able to do that since the header keeps scrolling...

I have something like this:

[code]
and
[code]
My problem is that the fixed option reestablishes the original header

[2016-05-06 14:57] alfalabs opened #96 "event 'content-scroll' does not show scrolling position"
### Description
While using `<paper-scroll-header-panel>` the event `'content-scroll'` listener function does not show the scrolling position:
[code]

### Expected outcome

Scrolling position should be available in the listener.
If applicable, a demo of using `<paper-scroll-header>` with `Polymer.IronScrollTargetBehavior` should be added to help devs with this problem.

### Actual outcome

`window

[2016-05-07 16:45] alfalabs opened #97 "inconsistent event "content-scroll""
### Description
`<paper-header-panel>` and `<paper-scroll-header-panel>` share event named `content-scroll`
In supplied example, this event fires while using `<paper-scroll-header-panel>` but not with `<paper-header-panel>`
The problem is not with event not firing in `<paper-header-panel>` (there is another way to get this event) but the need to write different code for each header-panel.

### Exp

[2016-05-07 18:37] #96 closed

[2016-05-07 18:38] alfalabs commented on #96
Please see issue https://github.com/PolymerElements/paper-scroll-header-panel/issues/97

[2016-05-07 23:14] alfalabs opened #98 "swiping up on Android Chrome does not hide browser tabs and address bar"
### Description
When using  `paper-header-panel` or`paper-scroll-header-panel` swiping up does not hide browser UI - browser tabs and browser address bar remain visible taking up space. This reduces web page viewing area.

### Expected outcome

Web page should be viewable "full screen" when user swipes up. Here is the example:
http://www.alfamodellini.com.s3-website-eu-west-1.amazonaws.com/index-n

[2016-05-13 16:07] alfalabs commented on #98
A week passed, I had to remove Live Demo examples from server. Hopefully the explanation is enough to understand the issue.

[2016-05-25 21:15] blasten commented on #94
We may do that in app-layout, so I'm closing this issue since that is in the backlog.

[2016-05-25 21:15] #94 closed

[2016-05-25 21:34] blasten commented on #95
I don't think `fixed` is causing the issue. `condensedHeaderHeight` is dynamically calculated when you change the `headerHeight` property, so you are decreasing the header's size every time you run
 `(<any>this._element).headerHeight = (<any>this._element).condensedHeaderHeight / 2;`

[2016-05-25 21:47] blasten commented on #97
That was certainly a mistake in paper-scroll-header-panel.  `content-scroll` should not bubble in first place. Also since we released [app-layout](https://github.com/PolymerElements/app-layout), we decided to move away from this pattern. We changed the structure a little bit for the elements, so the element doesn't need to fire an event like this.  Feel free to send a PR to fix this issue.

[2016-05-25 22:48] blasten commented on #98
This issue is fixed in app-layout https://github.com/PolymerElements/app-layout

[2016-05-25 22:48] #98 closed

[2016-09-27 20:11] MarcMouallem opened #102 "Toggle method for paper header."
Add a method for showing and hiding the `<div class="paper-header">` or `<paper-toolbar>` programatically.

[2016-09-28 00:29] RhysyG commented on #28
Hey! In the PSK, why does the app-header-layout have has-scrolling-region by default? It seems to cause this issue too.

Thanks.

![screen shot 2016-09-28 at 10 27 36 am](https://cloud.githubusercontent.com/assets/5491092/18896613/6ce21ad6-8566-11e6-9efc-ab1276fb78c9.png)

[2016-10-06 21:28] blasten commented on #102
You can bind to the `hidden` attribute to keep things as declarative as possible.

[2016-10-16 00:39] tcuje commented on #97
Any news on this?
'content-scroll' is never fired in my case, only thing working is adding an event listener directly to the scroller, like:
".scroller.addEventListener('scroll', function (event) { console.log("triggering"); });"

[2016-10-27 22:38] akc42 opened #103 "The scroll bar becomes inaccessable when the header is larger than the scrollbar is"
### Description
I am attempting to construct a nested scroll bar some way down the page Unfortunately, all though it all works, you can't actually grab to scoll bar when it scrolled to the top because its invisible hidden behind something.

### Expected outcome
Click and hold on scroll bar section and pull the mouse downwards will scroll down

### Actual outcome

Whilst you can scroll easily enoug

[2017-03-10 08:18] frankiefu opened #107 "[2.0-preview] Demos don't work as expected"
Most of the demos (transform-header-1.html, transform-header-3.html, transform-header-4.html, keep-header.html, ...) don't seem to work. For example, header bg image is not showing, the icon buttons are missing.

### Expected outcome

All the demos should work and look just like in v1 of paper-scroll-header-panel

### Actual outcome

Most of the demos don't look like those in v1 of paper-scroll-he

[2017-03-10 20:54] blasten commented on #107
The demos are working again. I changed the default selector to `slot="top"` in paper-toolbar, so that was why the content wasn't showing up. Also, there's a bug in Chrome around using `url(..)` as  a value of a custom property. https://bugs.chromium.org/p/chromium/issues/detail?id=618165

[2017-03-10 20:54] #107 closed

[2017-03-20 17:06] bkr32 opened #108 "Blank space created when URL bar is pushed off screen(mobile)"
### Description

when using paper-scroll-header-panel with as such `<paper-scroll-header-panel main condenses keep-condensed-header header-height="256" `condensed-header-height="120">`
on mobile, a blank space is created at the bottom of the screen when the url bar is pushed out of view
### Expected outcome
the view should stay consistent without a footer being created

### Actual outcome
footer i

[2018-05-10 02:13] t-mdo commented on #53
Hum. Have this feature been implemented ?

[2019-03-26 20:13] pavanpaik commented on #94
This feature has been requested here - https://github.com/PolymerElements/app-layout/issues/20